@import "antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

:root {
  --red: #ff5000;
  --salmon: #ffdbd0;
  --pink: #ffdbd0;
  --beige: #f7f0f0;
  --white: #f7eff0;
  --text: #607d8b;
  --label: #212121;
}
